#!/usr/bin/env python

PACKAGE = "vision_collision_detector"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("hessian_threshold",   double_t,   0, "Hessian Threshold", 400, 0, 500)
gen.add("detector_id", int_t, 0, "detector_id", 0, 0,10)
gen.add("matching_threshold",   double_t,   0, "Matching Threshold", 0.10, 0, 50)
gen.add("collisions_threshold",   double_t,   0, "Collisions Threshold", 250, 0, 500)
gen.add("sensor_weight",   double_t,   0, "Sensor Weight", 0.1, 1, 10)
gen.add("reset",   bool_t,   0, "Reset Variable",  True)
gen.add("disable",   bool_t,   0, "Disable Source",  False)

mode_enum = gen.enum([ gen.const("SURF_Matching",      int_t, 0, "Match based"),
                  gen.const("Laplacian_Approach",     int_t, 1, "Laplacian")],
                  "Approach Selector")

gen.add("mode", int_t, 0, "Mode Selector", 0, 0, 1, edit_method=mode_enum)

exit(gen.generate(PACKAGE, "vision_collision_detector", "dynamic_reconfigure"))
