<?xml version="1.0"?>

<launch>
  
  <arg name="sensor_id" default="cam1" />

  <node pkg="vision_utils_ros" type="vision_utils_ros" respawn="false" name="vision_utils_ros" output="screen">
    <remap from="~/camera" to="/camera/rgb/image_color"/>
    <param name="sensor_id" type="string" value="$(arg sensor_id)"/>
  </node>
</launch>

