<?xml version="1.0"?>

<launch>

  <arg name="sensor_id" default="cam1" />
  <arg name="sensor_number" default="0" />

  <node pkg="vision_collision_detector" type="vision_collision_detector_node" respawn="false" name="vision_utils_ros" output="screen">
    <remap from="~/camera" to="/camera/rgb/image_color"/>
    <param name="sensor_id" type="string" value="$(arg sensor_id)"/>
    <param name="sensor_number" type="int" value="$(arg sensor_number)"/>
  </node>
</launch>
