<?xml version="1.0"?>

<launch>

  <arg name="sensor_id" default="cam1" />
  <arg name="sensor_number" default="1" />
  <arg name="input_topic" default="/cam3d/rgb/image_raw"/>

  <node pkg="vision_collision_detector" type="vision_collision_detector_node" respawn="false" name="vision_utils_ros" output="screen">
    <remap from="~/camera" to="$(arg input_topic)"/>
    <param name="sensor_id" type="string" value="$(arg sensor_id)"/>
    <param name="gui" type="bool" value="true"/>
    <param name="sensor_number" type="int" value="$(arg sensor_number)"/>
  </node>
</launch>
